:host {
  display: block;
  padding: 20px;

  > .section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
  }

  > .section-description {
    font-size: 14px;
    font-weight: lighter;
  }

  > .controls {
    margin-top: 20px;
    display: flex;
    width: fit-content;
    border-color: #073b4c;

    > legend {
      text-transform: uppercase;
      font-weight: bold;
    }

    > .control {
      display: flex;
      flex-direction: column;
      margin: 10px 0;

      &:not(:last-child) {
        margin-right: 20px;
      }

      > label {
        margin-bottom: 4px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
      }

      > select {
        width: 120px;
        height: 25px;
      }
    }

    > .apply-button {
      width: 120px;
    }
  }
}
