<div class="section-title">Internet connectivity</div>
<div class="section-description">
  Displays historical information the server has captured over the selected
  period. Useful to identify any periods where the server was unable to connect
  to the internet, and so internet connectivity may have dropped out.
</div>
<fieldset class="controls">
  <legend>Controls</legend>
  <div class="control">
    <label>Time period</label>
    <select [(ngModel)]="selectedTimePeriodHours">
      <option *ngFor="let timePeriod of timePeriodHours" [ngValue]="timePeriod">
        {{ getFormattedTimePeriodText(timePeriod) }}
      </option>
    </select>
  </div>
  <div class="control">
    <label>Bucket size</label>
    <select [(ngModel)]="selectedBucketSizeSeconds">
      <option *ngFor="let bucketSize of bucketSizeSeconds" [ngValue]="bucketSize">
        {{ getFormattedBucketSize(bucketSize) }}
      </option>
    </select>
  </div>
  <button class="apply-button" (click)="updateChartWithNewTimePeriods()">
    Apply
  </button>
</fieldset>
<div echarts [options]="chartConfig" class="online-connectivity-chart"></div>
<div class="last-updated-at">Last updated at: {{lastUpdatedAt ? (lastUpdatedAt | date: 'mediumTime') : 'never'}}</div>
