html, body {
  font-family: Arial, Helvetica, sans-serif;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  outline: none;
  background: none;
  border: none;
  -webkit-appearance: button;
  transition: background-color 125ms;
}

button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: remify(14);
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #1a759f;
  color: white;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #168aad;
  }

  &:focus {
    background-color: #1e6091;
  }

  &:active {
    background-color: #184e77;
  }
}
