:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f6f6f6;
  color: #073b4c;

  > header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #1a759f;
    border-bottom: 1px solid #184e77;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    > .title {
      color: white;
      margin: 0 20px;
      font-size: 24px;
      letter-spacing: 0.5px;
    }
  }
}
